<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MeTube&trade;</title>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
<div class="container-fluid">
    <nav class="navbar navbar-toggleable-md navbar-dark bg-color-dark">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand h4" href="/">MeTube&trade;</a>

        <div class="collapse navbar-collapse justify-content-end row" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active col-md-3">
                    <a class="nav-link h5" href="/">Home</a>
                </li>
                <li class="nav-item active col-md-3">
                    <a class="nav-link h5" href="/profile">Profile</a>
                </li>
                <li class="nav-item active col-md-3">
                    <a class="nav-link h5" href="/upload-tube">Upload</a>
                </li>
                <li class="nav-item active col-md-3">
                    <a class="nav-link h5" href="/logout">Logout</a>
                </li>
            </ul>
        </div>
    </nav>
    <hr class="my-2">
    <div class="container-fluid">
        <h2 class="text-center">${title}</h2>
        <div class="row">
            <div class="col-md-6 my-5">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="${iFrameUrl}" allowfullscreen frameborder="0"></iframe>
                </div>
            </div>
            <div class="col-md-6 my-5">
                <h1 class="text-center text-info">${author}</h1>
                <h3 class="text-center text-info">${views} Views</h3>
                <div class="h5 my-5 text-center">${description}</div>
            </div>
        </div>
    </div>
    <hr class="my-3"/>
    <footer class="footer py-3">
        <div class="container-fluid">
            <div class="container-fluid text-center">&copy; CopyRight Sanity Web Design Studios 2018. All
                rights reserved.
            </div>
        </div>
    </footer>
</div>
</body>
</html>