<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sboj.gb</title>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
<div class="container-fluid">
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-sboj">
            <a class="navbar-brand text-info h4" href="/src/main/webapp">Sboj.gb</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse d-flex justify-content-end" id="navbarNav">
                <ul class="navbar-nav row w-25">
                    <li class="nav-item col-md-4">
                        <a href="/src/main/webapp" class="nav-link text-info active h5">Home</a>
                    </li>
                    <li class="nav-item col-md-4">
                        <a href="/jobs/add" class="nav-link text-info active h5">Add Job</a>
                    </li>
                    <li class="nav-item col-md-4">
                        <a href="/logout" class="nav-link text-info active h5">Logout</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <main>
        <hr class="my-3"/>
        <div class="text-center mb-4">
            <h1>Job Details</h1>
        </div>
        <hr class="my-3">
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <div class="label mt-2">
                        <h2 class="text-center">Sector</h2>
                        <h4 class="text-center">Medicine</h4>
                    </div>
                    <div class="label mt-4">
                        <h2 class="text-center">Profession</h2>
                        <h4 class="text-center">Local Nurse</h4>
                    </div>
                    <div class="label mt-4">
                        <h2 class="text-center">Salary</h2>
                        <h4 class="text-center">$4500</h4>
                    </div>
                    <div class="label mt-4">
                        <h2 class="text-center">Description</h2>
                        <p class="text-center">A young private nursery is looking for a local nurse for its new office in Chicago Downtown. The work time is full-time job.</p>
                    </div>
                </div>
            </div>
        </div>
        <hr class="my-3"/>
    </main>
    <footer class="footer py-3">
        <div class="container-fluid">
            <div class="text-muted container-fluid text-center">&copy; CopyRight Sanity Web Design Studios 2019. All
                rights reserved.
            </div>
        </div>
    </footer>
</div>
</body>
</html>